DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb1/1-6/1-6.1/*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2085", ATTRS{idProduct}=="f37e", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="camera0"
DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb1/1-6/1-6.2/*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2085", ATTRS{idProduct}=="f37e", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="camera1"
DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb1/1-7/1-7.1/*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2085", ATTRS{idProduct}=="f37e", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="camera2"
DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb1/1-7/1-7.2/*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2085", ATTRS{idProduct}=="f37e", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="camera3"

